{% extends 'homepage.html' %}

{% block content %}
    <form action="/create_post/" method="POST">
        <label for="title">Title</label>
        <input type="text" name="post_title"><br>
        <label for="body">Content</label>
        <textarea name="post_body" cols="30" rows="10"></textarea><br>
        <label for="category_id">Category Name</label>
        <select name="category_id">
            <option value="not_counted">-----</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select> <br>
        <input type="submit" value="Create new Post!">
    </form>
{% endblock %}