{% extends 'homepage.html' %}

{% block content %}

    <form action="/login/" method="post">
        {{ form.hidden_tag() }}
        
        {{ form.username.label }}
        {{ form.username }}

        {% for message in form.username.errors %}
            <span>{{ message }}</span>
        {% endfor %}
        <br>

        {{ form.password.label }}
        {{ form.password }}

        {% for message in form.password.errors %}
            <span>{{ message }}</span>
        {% endfor %}
        <br>

        <input type="submit" value="Login">
    </form>

{% endblock %}