{% extends 'homepage.html' %}

{% block content %}
    {% if form %}
    
    {% for message in form.category_name.errors %}
        <div>{{ message }}</div>
    {% endfor %}
        
        {% if category %}
            <form action="/update_category/{{ category.id }}" method="POST">
                {{ form.hidden_tag() }}
                {{ form.category_name.label }} <br>
                {{ form.category_name(value=category.name) }} <br>
                <input type="submit" value="Update">
            </form>
        {% endif %}
    {% endif %}
{% endblock %}